<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Get Sentiment</title>
    <style>
        body {
        text-align: center;
        background-color: #4acbd4;
        }
        div {

            box-shadow: 3px 7px #888888;
            margin: 35px;
            padding: 35px;
            background-color: #f0dfc2;
            border: 2px solid #800000;
            border-radius: 25px;

            }
        p {
          margin: 35px;
          padding: 35px;
          }

    </style>

</head>
<body>
<h3><p> The sentiment of the sentence, " {{sentence}} " </p></h3>
</br>

<div>
    <p>{{Sentiment}}</p>
</div>

</body>
</html>